@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
  /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
  font-size: 10px;
  scroll-padding-top: var(--scrollAnch-padding, 200px);
}

body {
  background: #2f2f37;
  font-size: 1.8rem;
  color: #fff;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  font-size: 3rem;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: #00ffff;
  color: #000;
  cursor: pointer;
  padding: 0.5em;
  opacity: 70%;
  border-radius: 25%;
  transition: all 0.25s;
}

#topButton:hover {
  opacity: 100%;
}

a:link,
a:visited {
  color: #006622;
  text-decoration: none;
}

a:hover,
a:active {
  color: #009933;
  text-decoration: underline;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #7fffd4;
  background-image: linear-gradient(150deg, #ccffee, #99ffdd, #00e6e6);
  z-index: 10;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.nav-list a:link,
.nav-list a:visited {
  display: block;
  font-size: 2.5rem;
  padding: 2rem;
  color: #000033;
  text-decoration: none;
  transition: all 0.125s;
}

.nav-list a:hover,
.navlist a:active {
  color: #00ffff;
  background-color: #000033;
}

.nav-list li {
  border-right: dotted 1px #808080;
}

.nav-list li:last-of-type {
  border-right: none;
}

.contentWrapper {
  margin: 90px 10vw;
}

.teaser-gallery {
  text-align: center;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
}

.teaser-gallery figcaption {
  padding: 20px 0;
}

.teaser-img-small,
.gallery-img-small {
  height: 10vw;
  min-height: 50px;
  box-shadow: 5px 5px 5px #000;
}

.teaser-img-med,
.gallery-img-med {
  height: 20vw;
  min-height: 50px;
  box-shadow: 5px 5px 5px #000;
}

.teaser-img-large, 
.gallery-img-large {
  height: 30vw;
  min-height: 100px;
  box-shadow: 5px 5px 5px #000;
}

.gallery-img-large:hover,
.gallery-img-med:hover,
.gallery-img-small:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px #000;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.72);
    backdrop-filter: blur(10px) grayscale(1);
    overflow: scroll;
  }

  #modal-content {
    position: relative;
    margin: 10vw auto;
    display: block;
    max-height: 70%;
    max-width: 100%;
  }
  
  .modal-close {
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal-close::before {
    content: "close  ";
  }
  
  .modal-close:hover {
    color: #00e6e6;
    text-decoration: none;
    cursor: pointer;
  }

.logoBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2vw 6vw;
  margin-bottom: 5em;
  background: #c0c0c0;
  background-image: linear-gradient(130deg, #fff, #808080, #c0c0c0, #fff);
}

.logoBanner h2 {
  width: 80%;
  max-width: 600px;
  padding: 1vw 2vw;
  background-color: #808080;
  text-align: center;
  font-size: 2rem;
}

.logoBanner img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.sectionHeader {
  border-bottom: ridge 10px #5e5e6e;
  border-radius: 0px 0px 500px 0px;
  padding-left: 1vw;
  margin: 5em 0 2em 0;
  color: lightcyan;
}

.projectsGrid {
  display: flex;
  flex-flow: row wrap;
  gap: 2vw;
  justify-content: space-around;
}

.projectTile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: flex-end;
  width: 15vw;
  min-width: 200px;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 10px 25px 10px;
  box-shadow: 5px 5px 5px 2px #0c0c0e;
  transition: all 0.5s;
  text-align: center;
  font-size: 2.5rem;
  overflow: hidden;
}

.projectTile img {
  width: 100%;
  height: auto;
  opacity: 70%;
  object-fit: cover;
  transition: all 0.5s;
  margin-bottom: 10px;
}

.projectTile img:hover {
  opacity: 100%;
}

.projectTile:hover {
  box-shadow: 10px 10px 20px 10px #000000;
}

.the-code {
  margin: 40px auto 20px auto;
  width: 75%;
  height: 40vw;
  padding: 10px;
  background-color: #e9e9e9;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  overflow: scroll;
  scrollbar-color: #000000;
}

.formContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
}

.formContainer iframe {
  width: 100%;
  height: 950px;
  border: none;
}

input,
textarea {
  margin: 5px 0 30px 0;
  width: 100%;
  padding: 2px 5px;
  font-size: 1.25em;
  border: none;
}

#contactForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

form button {
  width: fit-content;
  padding: 1em 0.5em;
  font-size: 2rem;
  background-color: #00e6e6;
  border: none;
  border-radius: 5px;
  opacity: 80%;
  transition: all 0.25s;
}

form button:hover {
  opacity: 100%;
  background-color: #99ffdd;
  box-shadow: 5px 5px 5px #000;
}

textarea {
  resize: vertical;
}

.aboutMe div {
  margin: 0 auto 5vw auto;
  max-width: 75ch;
}

.aboutMe p {
  text-indent: 3ch;
  margin-bottom: 2em;
}

.aboutMe h3 {
  margin-bottom: 2vw;
  width: 100%;
  border-bottom: dashed 2px #595959;
}

footer {
  border-top: 3px dotted #a7f7dc;
  padding: 10px 10px 20px 10px;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: gray;
}

@media only screen and (max-width: 1080px) {
  /* For tablets: */
  .contentWrapper {
    margin: var(--wrapperTopMargin, 100px) 5vw;
  }

  .projectsGrid {
    gap: 10vw 2vw;
  }

  .formContainer {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  form button {
    opacity: 100%;
    background-color: #99ffdd;
  }
}

@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .contentWrapper {
    margin: 90px 2.5vw;
  }

  #topButton {
    bottom: 20px;
    right: 5px;
    transition: none;
  }
  
  .nav {
    justify-content: center;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    font-size: 10em;
  }

  .nav-list a:link,
  .nav-list a:visited {
    font-size: 2rem;
    padding: 1rem;
}

  .projectTile {
    width: 80%;
  }

  input,
  textarea {
    font-size: 1em;
  }

  .the-code {
    width: auto;
    height: 90vw;
  }

}

@supports(font:-apple-system-body) and (not(-webkit-touch-callout:default)){
  /* Desktop Safari */
  .contentWrapper {
    width: auto;
  }
}