.no-select {
  -webkit-user-select: none; /* Safari */
  user-select: none;  
}

.nav {
  background-image: linear-gradient(150deg, #00e6e6, #7a86b8, #4f5b93, #0073aa);
}

.logoBanner h2 {
  background-color: #4f5b93;
}

.logoBanner h2 a {
  color: #fff;
}

.sectionHeader {
  border-bottom: ridge 10px #6773ad;
}