.no-select {
  -webkit-user-select: none; /* Safari */
  user-select: none;  
}

.nav {
  background-image: linear-gradient(150deg, #00e6e6, #7a86b8, #4f5b93, #0073aa);
}

.logoBanner h2 {
  background-color: #4f5b93;
}

.logoBanner h2 a {
  color: #fff;
}

.sectionHeader {
  border-bottom: ridge 10px #6773ad;
}

.teaser-scr {
  text-align: center;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
}

.teaser-scr img {
  height: 10vw;
  min-height: 50px;
  box-shadow: 5px 5px 5px #000;
}

.teaser-scr:hover {
  cursor: pointer;
}

.teaser-scr figcaption {
  padding: 20px 0;
}

.the-code {
  margin: 40px auto 20px auto;
  width: 75%;
  height: 40vw;
  padding: 10px;
  background-color: #e9e9e9;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  overflow: scroll;
  scrollbar-color: #000000;
}

@media only screen and (max-width: 450px) {
  /* For mobile phones: */

  .teaser-scr img {
    width: 80vw;
    height: auto;
  }

  .the-code {
    width: auto;
    height: 90vw;
  }

}

@supports(font:-apple-system-body) and (not(-webkit-touch-callout:default)){
  /* Desktop Safari */
  .contentWrapper {
    width: auto;
  }
}